# {{ ansible_managed }}
brokerClusterName={{ rocketmq_cluster_name }}
brokerName={{ rocketmq_master_broker_name }}
brokerId=0
namesrvAddr={{ rocketmq_namesrv_addr }}
bindAddress={{ rocketmq_bind_addr }}
listenPort={{ rocketmq_master_port }}
storePathRootDir={{ rocketmq_root_path }}/store-m
deleteWhen=04
diskMaxUsedSpaceRatio=85
fileReservedTime=48
brokerRole=SYNC_MASTER
flushDiskType=ASYNC_FLUSH
