# {{ ansible_managed }}
brokerClusterName={{ cluster_name }}
brokerName={{ master_broker_name }}
brokerId=0
namesrvAddr={{ namesrv_addr }}
bindAddress={{ bind_addr }}
listenPort={{ master_port }}
storePathRootDir={{ rocketmq_root_path }}/store-m
deleteWhen=04
diskMaxUsedSpaceRatio=85
fileReservedTime=48
brokerRole=SYNC_MASTER
flushDiskType=ASYNC_FLUSH
