# {{ ansible_managed }}
brokerClusterName={{ cluster_name }}
brokerName={{ slave_broker_name }}
brokerId=1
namesrvAddr={{ namesrv_addr }}
bindAddress={{ bind_addr }}
listenPort={{ slave_port }}
storePathRootDir={{ rocketmq_root_path }}/store-s
deleteWhen=04
diskMaxUsedSpaceRatio=85
fileReservedTime=48
brokerRole=SLAVE
flushDiskType=ASYNC_FLUSH
