# {{ ansible_managed }}
brokerClusterName={{ rocketmq_cluster_name }}
brokerName={{ rocketmq_slave_broker_name }}
brokerId=1
namesrvAddr={{ rocketmq_namesrv_addr }}
bindAddress={{ rocketmq_bind_addr }}
listenPort={{ rocketmq_slave_port }}
storePathRootDir={{ rocketmq_root_path }}/store-s
deleteWhen=04
diskMaxUsedSpaceRatio=85
fileReservedTime=48
brokerRole=SLAVE
flushDiskType=ASYNC_FLUSH
